.layers {
  background-color: lightgrey;
  border-radius: 8px;
  height: 120px;
  padding: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
  min-width: 430px;
  max-width: 430px;
  z-index: 1;
}

.layer__title {
  margin: 0;
  padding-bottom: 4px;
}

.layer__item {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.layer__label {
  display: inline-block;
  min-width: 150px;
}
